@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(07,07,30);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

@keyframes blinking {
    to{
        visibility: hidden;
    }
}

.turn-blinking{
    animation: blinking 1s steps(5, start) infinite;
    -webkit-animation: blinking 1s steps(5, start) infinite;
}

#game-container{
    width: 450px;
    height: 450px;
}

#colors{
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 100%;
    height: 100%;
}

#green, #red, #yellow, #blue{
    width: 100%;
    height: 100%;
}

#green::before, #red::before, #yellow::before, #blue::before{
    content: "";
    position: absolute;
    width: 35%;
    height: 35%;
    cursor: auto;
    background-color: black;
}

#green{
    background-color: darkgreen;
    border-radius: 100% 0 0 0;
    position: relative;
    cursor: pointer;
}

#green::before{
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0 ;
}

#red{
    background-color: darkred;
    border-radius: 0 100% 0 0;
    position: relative;
    cursor: pointer;
}

#red::before{
    bottom: 0;
    border-radius: 0 100% 0 0 ;
}

#yellow{
    background-color: #B58B00;
    border-radius: 0 0 0 100%;
    position: relative;
    cursor: pointer;
}

#yellow::before{
    top: 0;
    right: 0;
    border-radius: 0 0 0 100% ;
}

#blue{
    background-color: darkblue;
    border-bottom-right-radius: 250px;
    position: relative;
    cursor: pointer;
}

#blue::before{
    top: 0;
    border-radius: 0 0 100% 0;
}

button{
    text-align: center;
    display: inline-block;
    margin: 25px;
    font-weight: bold;
    padding:10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    border-radius: 7px;
    font-size: 20pt;
    box-shadow: 0 0.2em gray;
    cursor: pointer;
}

#start:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

